@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

.list-group{
	
	width: 100px;
	
}
#body{
	width: 700px;
	height: 700px;
}
#bodytop{
	height: 40px;
	float: left;
	width: inherit;
	
	
}
#bodybottom{
	height: 92%;
	width: inherit;
	float: left;
	
}
iframe{
	
	width: 100%;
	height: 700px;
	border: 0;
		
}