@CHARSET "UTF-8";
body{
	
	background-color: #f5f8f9;
	font-family: "微软雅黑";
}
.container{
}
a{
	text-decoration:none;
	color:#737373;
}
a:hover{
	text-decoration:none;
	color:#48b79b;
	
}
li{
	
	list-style: none;
	
}
@font-face {
	font-family: "mFont";
 	src: url(../fonts/songkebenxiukai.ttf);
}

.navbar-nav > li:hover{
	
	border-bottom:4px solid #fbd257;
}
.more{
	
	height:50px;
	width:100px;
	margin-right:30px;
	text-align:center;
	position: relative;
    display: inline-block;
}

.navbar-nav .more .more-expand{
	
	display: none;
    position: absolute;
    left:0px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px 2px;
    z-index: 1;
}
.more:hover .more-expand{
	
	display: inline-block;
}
.navbar-nav .more .more-expand li{
	
	height:30px;
	line-height: 30px;
}
.navbar-nav .more .more-expand li:hover a{
	color:#48b79b;
	text-decoration:none;

}
.search{
	
	position:relative;
}
.form-group .search-input{
	border-radius: 15px;
	transition: width 0.5s;
}
.search .search-btn {
	
	position:absolute;
	right:15px;
	top:10px;
}
.mycatnav{
	
	height: 30px;
	padding-right:0px;
}
.mycatnav .breadcrumb{
	
	margin-bottom:0px;
	background-color:white;
}

.articlelist li{
	
	padding: 2px 15px 10px 15px;
	border-radius: 5px;
	box-shadow:0px 1px 6px #c0c0c0;
	
}
.articlelist li:hover{
	
	box-shadow:0px 3px 6px #c0c0c0;
	
}
.articlelist li h4>span{
	
	display:inline-block;
	height:20px;
	width:auto;
	padding-bottom:2px;
	background-color:#ff8040;
	font-size:.6em;
	line-height:26px;
	margin-right:7px;
	text-align:center;
	position:relative;
	vertical-align: middle;
	border-radius: 7px;
	
	
}
.articlelist li h4>span a{
	line-height:21px;
	height:20px;
	color:white;
	font-size: .7em;
    margin: 8px;
	
}
.label-arrow{
	
	width: 0;
	height: 0;
	right:-6px;
	top: 3px;
	border-top: 7px solid transparent;
	border-left: 7px solid #ff8040;
	border-bottom: 7px solid transparent;
	position:absolute;
}
.articlelist li .imgcontainer{
	
	height:86%;
	width:27%;
	float:left;
	background-color:#c0c0c0;
	margin:14px 18px 0px 0px;
}
.articlelist li .imgcontainer img{
	
	height:100%;
	width:100%;
}
.articlelist li .infocontainer{
	
	height:80%;
	padding-top:5px;
}
.articlelist li .infocontainer p span{
	
	display:inline-block;
	
	
}
.articlelist li .infocontainer h4 p{
	
	font-family:"mFont";
}
.articlelist li .infocontainer .summarycontainer{
	
	overflow:hidden;
	height:60px;
	line-height:1.5em;
	color:gray;
}
.articlelist li .infocontainer p span:nth-child(1){
	
	float:left;
	line-height: 1.8em;
    padding: 3px;
    height: 1.8em;
	
}
.articlelist li .infocontainer p span:nth-child(2){
	
	float:right;
	background-color:#FFEB3B;
	
}
.confoot .pagination li{
	
	display:inline-block;
	border:1px solid #f1f1f1;
	border-radius:3px;
	margin:0px 3px;
	
}
.panel {
	
	border:1px solid #fafafa;
}
.panel .panel-body{
	
	border-bottom: 1px solid #e3e3e3;
}
.panel .panel-body dl{
	
	float:left;
	margin-bottom:0px;
}
.panel .myblogmotto dl dd{
	
	margin-top:0px;
	line-height:.8em;
	color:#9d9d9d;
}
.panel .myblogmotto dl dt h3{
	
	margin-top:0px;
}
.panel .mybloginfo{
	text-align:center;
}
.panel .mybloginfo dl{
	width:25%;
}

.panel .mybloginfo dl dt a{
	
	color:#747474;
}
.panel-default .panel-body ul li{
	
	margin: 4px 0px;
}
.mymostview ul li span{
	
	display:inline-block;
	height:1.3em;
	width:1.4em;
	text-align:center;
	margin-right: 6px;
	color:white;
	background-color:#d4d4d4;
}
.mymostview ul li:nth-child(1) span{
	background-color:red;
	
}
.mymostview ul li:nth-child(2) span{
	background-color:#60f0a8;
	
}
.mymostview ul li:nth-child(3) span{
	background-color:#f3de47;
	
}
.myarchives ul li{
	
	margin: 4px 0px;
	
}
.myarchives ul li span{
	
	display:inline-block;
	width:50%;
}
.myarchives ul li span:nth-child(2){
	
	text-align:right;
}
.datepicker {
  width: 100%;
  background: #fdfdfd;
  border-radius: 4px;
  border:1px solid #d9d9d9;
  margin: 15px auto;
  overflow: hidden;
  font-size: 1.1em;
  font-family: 'Abril Fatface', cursive;
}

.datepicker .datepicker-header {
  height: 150px;
  background-image: url("../images/dateimage.jpg");
  background-size: 100%;
}
.datepicker .ui-datepicker-inline {
  padding: 20px;
}
.datepicker .ui-datepicker-header {
  text-align: center;
  font-size: 1.1em;
  padding-bottom: .5em;
  letter-spacing: .1em;
  color: #333;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: left;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0 5px;
  margin-top: 3px;
  color: #ddd;
  transition: .6s;
}
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
  transform: translateX(-25px)
}
.datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  transform: translateX(25px)
}
.datepicker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.datepicker .ui-datepicker-calendar thead {
  color: #ddd;
}
.datepicker .ui-datepicker-calendar tr th,
.datepicker .ui-datepicker-calendar tr td {
  padding-bottom: .4em;
}
.datepicker .ui-datepicker-calendar a {
  color: #333;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}
.datepicker .ui-datepicker-calendar a:hover {
  background: #da89a2;
  color: #fff;
  transition: .7s;
  transform: scale(1);
}
.datepicker .ui-datepicker-calendar .ui-state-highlight {
  background: #da89a2;
  color: #fff;
}
.datepicker .ui-datepicker-calendar .ui-state-highlight:hover {
  color: #fff;
}

.panel-group .panel-body p{
	
	padding-left:20px;
}
.panel-group .panel-body p span{
	
	margin-right:15px;
}
.panel-group .panel-body p span:nth-child(3){
	
	display:inline-block;
	width:70px;
	height:inherit;
	float:right;
	margin-right:5px;
}

.panel-group .panel-body p:hover{
	
	background-color:#f0f0f0;
}
.panel-group .panel-heading .panel-title span{
	
	display:inline-block;
	width:70px;
	float:right;
}



